#box106308{
  width: 1070px;
  height:0;
  position: fixed;
  top: 50%;
  left:50%;
  margin-top:-35px;
  margin-left:-535px;
}
#box106308 .prev_article .title_display{
  display:none;
  position:absolute;
  left:50%;
  top:-25px;
  width:220px;
  margin-left:-21px;
  line-height:1.5em;
  background:#fff url("arrow-filter-left.png") no-repeat left 24px;
  border:1px solid #f19ec2;
  box-shadow: 0px 3px 8px #8c8c8c;
  border-radius: 5px;
  padding:10px 10px 10px 40px;
}
#box106308 .next_article .title_display{
  display:none;
  position:absolute;
  right:50%;
  top:-25px;
  width:220px;
  margin-right:-21px;
  line-height:1.5em;
  background:#fff url("arrow-filter-right.png") no-repeat right 24px;
  border:1px solid #f19ec2;
  box-shadow: 0px 3px 8px #8c8c8c;
  border-radius: 5px;
  padding:10px 40px 10px 10px;
}
#box106308 a{
  text-decoration:none;
  color:#000;
  font-size:13px;
  font-weight:bold;
}
#box106308 .title_display img{
  width:90px;
  height:90px;
  float:left;
  margin-right:10px;
}
#box106308 li a:hover .title_display{
  display:block;
}
#box106308 .prev_article{
  float:left;
  position:relative;
}
#box106308 .next_article{
  float:right;
  position:relative;
}
#box106308 .prev_article .date,
#box106308 .next_article .date{
  background:#F19EC2;
  color:#fff;
  padding:0 5px;
  border-radius:3px;
  float:left;
}
#box106308 .prev_article span{
  background:url("arrow-filter-left.png") no-repeat left top;
  width:40px;
  height:60px;
  display:block;
  text-indent:-9999px;
  outline:none;
}

#box106308 .next_article span{
  background:url("arrow-filter-right.png") no-repeat left top;
  width:40px;
  height:60px;
  display:block;
  text-indent:-9999px;
  outline:none;
}

#box106308 p{
  line-height:1.4em;
  height:5.6em;
  overflow:hidden;
  width:120px;
  text-overflow:ellipsis;
  break-word: break-all;
  word-wrap: break-word;
}






#box106308_content   {
    text-align:left;
    margin:20px 0;
    overflow:hidden;
    zoom:1;
    font-size:12px;
    clear:both;
}

#box106308_content h5 {
    font-weight:bold;
    margin:0;
    padding:0;
    opacity:0.6;
}

#box106308_content ul {
    margin:10px 0;
    overflow:hidden;
    float:left;
    zoom:1;
    height:180px;
    list-style:none;
}

#box106308_content ul li  {
    float: left;
    text-align:center;
    width:113px;
    height:180px;
    border:none;
    cursor: pointer;
    list-style:none;
}

#box106308_content ul li a {
    display:block;
    width:112px;
    height:170px;
    padding-top:6px;
    border-left:1px solid #CCC;
}

#box106308_content ul li a:hover {
    background:#EEE;
    color:#666;
}

#box106308_content ul li a span.article-text{
    display:block;
    text-align:left;
    margin:5px 10px 0 10px;
    line-height:20px;
    height:60px;
    overflow:hidden;
    text-decoration:none;
}
#box106308_content ul li a div.article-image-box {
    width:92px;
    height:92px;
    border:1px solid #aaa;
    margin:0 auto;
    position:relative;
}
#box106308_content ul li a img.article-image{
    width:90px;
    height:90px;
    padding:1px;
    background:white;
}

#box106308_content ul li a div.article-image-box .partner-logo {
    display:block;
    background:white;
    position:absolute;
    bottom:1px;
    left:1px;
    width:88px;
    height:20px;
    padding:0 2px 0 0;
    text-align:right;
    line-height:20px;
    vertical-align:middle;
}