#player,#player a{ color:#000000 ;  font-size: 11px; font-family: verdana;}
#player{ background:url(http://static.tumblr.com/su8juwr/I64mkjm26/branco.png); background-position:bottom; background-color: #F0F0F0;}
#player .mainImage{ background:url(https://pic.pimg.tw/luodaeny72/1524508702-3485270582.png);}

#player #baseLeft{ width:93px; } 
#player #baseRight{ width:145px;} 
#player .button{  width:26px; }
#player #play{ background:url(); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  font-size: 9px; }
#player #tooltip{ right:196px; }    
#player #timer{ right:120px;  } 
#player #list{ right:0px; } 

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#000;  }
#player #seekerBuffered{ background-color:#000000 ; }
#player #seekerSliderBase{ background-color:#000; } 

#player #volume{ width:65px; right:39px; } 
#player #volumeSlider{ width:12px; background:url(http://static.tumblr.com/su8juwr/0V9mqh2o8/nsei-crop.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#F0F0F0;}
#playlist .module{  color:#000000; background-color:#F0F0F0; }
#playlist .even{background-color:#F0F0F0;}
#playlist .odd{ background-color:#F0F0F0;}
#playlist .focus{ background-color:#F0F0F0; color:#aaa;}   
